$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.main {
  margin-top: 5px;
}

// My Heroes styles.
.heroes {
  width: 20em;
}
.heroes .badge {
  float: none;
  width: 3em;
  margin-right: 1em;
}
.heroes .list-group-item:hover {
  // background-color: $link-hover-color;
  background-color: #f5f5f5;
}
.heroes .list-group-item .active:hover {
  background-color: #337ab7;
}
